:root { 
     --black-20: #000000;
     --black-19: #1a1a1a;
     --black-18: #1d1d1d;
     --black-17: #202020;
     --black-16: #232323;
     --black-15: #252525;
     --black-14: #2a2a2a;
     --black-13: #2f2f2f;
     --black-12: #343434;
     --black-11: #464646;
     --black-10: #4c4c4c;
     --black-9: #515151;
     --black-8: #575757;
     --black-7: #5c5c5c;
     --black-6: #727272;
     --black-5: #9e9e9e;
     --black-4: #cacaca;
     --black-3: #e0e0e0;
     --black-2: #ebebeb;
     --black-1: #f5f5f5; /* whitesmoke */
     --black-0: #ffffff; /* whitesmoke */

    --nav-backround: var(--black-1);  /*  #8c9aa0  */
    --nav-text: var(--black-10);  /*  #8c9aa0  */
    --nav-text-hover: red;  /*  #8c9aa0  */

    --cursor_show: "crosshair"; // default  none
    
    --shadow-color: 120deg 1% 46%;  /* #bebfbe tint for landing */
    --shadow-color: 210deg 30% 60%;  /* #eff7ff tint for about me */
    --shadow-color: 120deg 2% 60%;  /* #f4f5f4 tint for projects */
    --shadow-color: 60deg 28% 61%;  /* #fffff0 tint for contact */
    --shadow-color: 0deg 0% 0%; /* no underlying shadow tint */

    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
      0.4px 0.8px 1.1px -1px hsl(var(--shadow-color) / 0.05),
      0.8px 1.6px 2.2px -1.9px hsl(var(--shadow-color) / 0.06);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.05),
      0.8px 1.5px 2.1px -0.6px hsl(var(--shadow-color) / 0.05),
      1.7px 3.4px 4.6px -1.3px hsl(var(--shadow-color) / 0.06),
      3.9px 7.9px 10.6px -1.9px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
      1.1px 2.2px 3px -0.3px hsl(var(--shadow-color) / 0.05),
      1.9px 3.8px 5.1px -0.6px hsl(var(--shadow-color) / 0.05),
      2.9px 5.8px 7.8px -0.8px hsl(var(--shadow-color) / 0.05),
      4.4px 8.9px 12px -1.1px hsl(var(--shadow-color) / 0.06),
      6.7px 13.3px 18px -1.4px hsl(var(--shadow-color) / 0.06),
      9.9px 19.7px 26.6px -1.7px hsl(var(--shadow-color) / 0.06),
      14.3px 28.5px 38.5px -1.9px hsl(var(--shadow-color) / 0.07);

 }

html, body, * {margin:0; padding:0;  }  
html, body {overflow-x: hidden; }  
/* gives padding and border from inside */
*, *::before, *::after { box-sizing: border-box; }
/* what is this magic?!?!?! */
/* your overlapping header/div height */
/* html { scroll-padding-top: 100px; } */

body { 
  color: #343434;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Azeret Mono', monospace; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Cormorant Infant', serif; */
  font-family: 'Bitter', serif;
  font-weight: 200;
  width: 100%; /*  calc(100vw - (100vw - 100%));  */

  cursor: var(--cursor_show);
}








 /* =========     C U R S O R      ============ */
 /* =========     C U R S O R      ============ */
 /* =========     C U R S O R      ============ */
/* The cursor is wrapped in a containter as the js makes it visible as soon as it moves
inner .cursor is visible on hover via js */
 .cursor_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  width: 80px;
  height: 80px;
  pointer-events: none;
 }
 .cursor{
  position: absolute;
  font-family: 'Bitter', serif;
  font-weight: 100;
  font-size: 60px;
  line-height: 30px; /* this centers it  */
  z-index: 99999;
  transform: rotate(90deg);
}
.cursor::before{
  position: relative;
  content: "{";
  right:10px;
  color: red; 
}
.cursor::after{
  position: relative;
  content: "}";
  left:10px;
  color: red; 
}

.cursor_main {
  position: relative;
  width: 48px;
  height: 48px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffee; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  /* border: 8px solid rgba(50, 50, 50, 1.0); switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 99999;
}









.curs or_main::after {
  position: absolute; 
  content: "";
  width: 48px;
  height: 48px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffee; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  top: -10px;
  left: -10px;
  opacity: 0.5;
  anima tion: cursorAnim2 .5s infinite alternate;
}



@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.8);
  }
}




.cursor_caret{
  position: absolute;
  font-family: 'Bitter', serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px; /* this centers it  */
  color: lime;
  z-index: 99999;
}

img {
  cursor: var(--cursor_show);
}








.main_title { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-size: 60px;
  font-weight: 900;
}
.title, h1 { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-size: 40px;
  font-weight: 700;
}
.subtitle {
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
}
.copy {
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: 200;
}

.font_100 { font-weight: 100; }
.font_200 { font-weight: 200; }
.font_300 { font-weight: 300; }
.font_400 { font-weight: 400; }
.font_500 { font-weight: 500; }
.font_600 { font-weight: 600; }
.font_700 { font-weight: 700; }
.font_800 { font-weight: 800; }






.subtle-box {
  box-shadow: var(--shadow-elevation-low);
}
.in-your-face-box {
  box-shadow: var(--shadow-elevation-high);
}



/* =========  N A V I G A T I O N  ============ */
/* =========  N A V I G A T I O N  ============ */
/* =========  N A V I G A T I O N  ============ */
#nav_floater {
  position: fixed;
  top: 50px;
  z-index: 9999;  
  cursor: var(--cursor_show);
  
}


#nav_wrapper {
  background-color: var(--nav-backround) ; /*  #8c9aa0  */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 5px;
  z-index: 999;
  /* border: 1px solid var(--black-3); */
  /* border-top: 4px solid var(--black-3); */
  /* box-shadow: var(--shadow-elevation-high); */
} 

ul#nav {
  display:flex;
  list-style-type: none;
  padding:5px 20px;
  margin-top:0px;
}

ul#nav li {
  font-size: 12px;
  letter-spacing: 3px;
  font-family: 'Bitter', serif;
  font-weight: 400;
  padding-right: 13px; /*  li spacing */
  display:inline;
}

ul#nav li a, ul#nav li a:visited {
  color: var(--nav-text);
  text-decoration: none;
}

ul#nav li a:hover {
  color: var(--nav-text-hover);
  cursor: var(--cursor_show);
}

ul#nav span#nav_left, ul#nav span#nav_center, ul#nav span#nav_right{
line-height: 18px;
}

#nav_center {
  text-align: center;
}
#nav_center li.home{
  padding-right:0px
}






/* for the submenu */
span#nav_left {
  display:flex;
}
/* The width here is a hack, make it work without it  */
span#nav_left li.work{
  position: relative;
  width: 50px; 
  overflow: visible;
}

li.tubes, li.words, li.logos, li.products {

}

ul#nav li  ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  align-content: center; 
  justify-content: center; 
  z-index: 99999;
margin-top:0px;
back ground-color: lime;
white-space: nowrap; /* no wrapping */
left: 50%; /* horizontal center */
transform: translateX(-50%); /* horizontal center */

}

ul#nav li  ul li::before {
  cont ent: "-";
}

ul#nav li  ul li {
  padding-left: 10px;
  margin: 0px 0 5px 5px;
  border-radius: 3px;
  background-color: var(--nav-backround) ; /*  #8c9aa0  */

}
ul#nav li  ul li:first-child {
  margin-top:14px
}



/* for rotation */
ul#nav li  ul li:nth-child(1)  {
  position: relative;
  background: #ccc;
  transform-origin: 0px 0px;
  transform: rotate(5deg);
  a nimation: rotate 1s linear 1 forwards;
}

ul#nav li  ul li:nth-child(2)  {
  position: relative;
  background: #ccc;
  transform-origin: 0px -5px;
  transform: rotate(10deg);
  a nimation: rotate 1s linear 1 forwards;
}
ul#nav li  ul li:nth-child(3)  {
  position: relative;
  background: #ccc;
  transform-origin: 0px -25px;
  transform: rotate(15deg);
  a nimation: rotate 1s linear 1 forwards;
}
ul#nav li  ul li:nth-child(4)  {
  position: relative;
  background: #ccc;
  transform-origin: 0px -40px;
  transform: rotate(20deg);
  a nimation: rotate 1s linear 1 forwards;
}









@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}




























span.caret {
  color:white; 
  margin-left: 0;
  opacity: 0;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



#floating_logo {
  position: fixed;
  top: 16px;
  width:100px;
  z-index: 9999;  
}
#floating_logo img#logo_hero {
  width: 100px;
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused; 
}










/* 
img#logo_hero_large {
  animation: spin 10s linear infinite;
  animation-play-state: paused; 
}
img#logo_hero_large:hover {
  animation: spin 10s linear infinite;
  animation-play-state: running;
}
@keyframes spin {
  100% {transform: rotate(1turn); }
}
 */











/* ============  L A N D I N G   ============== */
/* ============  L A N D I N G   ============== */
/* ============  L A N D I N G   ============== */
#landing {
  background: whitesmoke;
  /* background-image: url("/images/white_grunge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.landing_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  align-content: center; 
  justify-content: center; 
  height:100vh;
  /* background-image: url("/images/grunge_border.png") ; */
  /* background-size: 100% 100%; */
  /* background-position: top var(--nav-height) right 0px; */
}

div#intro.role {
  align-self: flex-end;
  margin-bottom: 70px;
  text-align: center;
  opacity: 1;
}












/* =========     P R O J E C T S      ============ */
/* =========     P R O J E C T S      ============ */
/* =========     P R O J E C T S      ============ */
 #projects {
  background: whitesmoke;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:3px green

 }



#words, #logos, #products {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  align-content: center; 
  justify-content: center; 
  min-height:100vh;
}

#words {
background-color: lemonchiffon;
}
#logos {
background: lightcyan;
}

#products{ 
background-color: honeydew;
}
















/* =========     R E S U M E      ============ */
/* =========     R E S U M E      ============ */
/* =========     R E S U M E      ============ */
 #resume {
  background: GhostWhite;
  /* background-image: url("/images/words-satisfied.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
 }




/* =========          M E              ============ */
/* =========          M E              ============ */
/* =========          M E              ============ */
#about_me {
  background: var(--black-14); 
  color: var(--black-4);
  /* background-image: url("/images/gillouche.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  }
  
  section#about_me .container.info ul{  
  color: var(--black-4);
  text-decoration: none;
  }
  section#about_me .container.info {  
  max-width: 1000px;
  position: relative;
  }
  

/* =========  STRIPES ============ */
/* =========     &    ============ */
/* =========  shadows ============ */
section#about_me .container_wrapper{
  position:relative;
  width: 100%;
/* overlay image here... */
  }
  .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  }
  
  .top_shadow_clean {
  height:20%;
  max-height:200px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a821a6+0,aa1ba8+15,000000+100&1+0,0.53+3,0+15,0+100 */
  background: linear-gradient(to bottom,  rgb(28, 31, 32) 0%,rgba(28, 32, 32, 0.53) 3%,rgba(170,27,168,0) 10%,rgba(170,27,168,0) 100%); 
  background-size: 400% 400%;
  animation: AnimationName 1s ease 1 forwards;
  }
  
  @keyframes AnimationName {
    0%{background-position:48% 100%}
    /* 50%{background-position:48% 90%} */
    100%{background-position:48% 0%}
  }
  
  .right_stripes {
    background: repeating-linear-gradient(
    70deg,
    var(--black-4),
    var(--black-4) 1px,
    #ffffff00 2px,
    #ffffff00 40px,
    var(--black-4) 42px
  );
  opacity: 0.1;
  }
  
  
  .left_stripes {
    background: repeating-linear-gradient(
    110deg,
    var(--black-4),
    var(--black-4) 1px,
    #ffffff00 2px,
    #ffffff00 40px,
    var(--black-4) 42px
  );
  
  }

























/* =========      C O N T A C T       ============ */
/* =========      C O N T A C T       ============ */
/* =========      C O N T A C T       ============ */
section#contact * {
  cursor: var(--cursor_show);
}
section#contact {
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
display:flex;
justify-content: center;
/* cursor: none; */
}

.container {
padding: 80px 50px;
margin: 0px auto;
}

.container.form {
/* padding: 50px; */
max-width: 500px;
}



/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
font-family: 'Courier Prime', monospace;
font-weight: 400;
width: 100%; /* Full width */
border: 1px solid transparent; /* Gray border */
border-radius: 0px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 30px; /* Bottom margin */
resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
/* cursor: none; */
}

textarea {
height: 150px;
  }

/* Style the submit button with a specific background color etc */
input[type=submit] {
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
display:block;
width: 50%;
/* margin: 0px auto; */

/* -webkit-box-shadow:0px 0px 47px 4px rgba(45,255,196,0.9);
-moz-box-shadow: 0px 0px 47px 4px rgba(45,255,196,0.9);
box-shadow: 0px 0px 47px 4px rgba(45,255,196,0.9); */

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #4e0f14;
}

.container.form label{
  font-size: 12px;
}

form.contact {
padding-top:10px;
}

.container.form label{
  color: gray;
  /* cursor: none; */
}


/* =========      form COLORS ONLY       ============ */
 
#contact {
background: var(--black-18);
}
.container.form {
  color: gray;
}
.container.form h1{
  color: whiteSmoke;
}
.container.form label{
  color: gray;
  cursor: var(--cursor_show);
}
.container.form label::before{
  content: "{"
}
.container.form label::after{
  content: "}"
}

/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
/* border: 1px solid lightblue;  */
border: 0px solid transparent; 
background: var(--black-18);
color: lime;
}

input[type=text]:hover, select:hover, textarea:hover {
  border: 0px solid transparent; /* Gray border */
  background: var(--black-11);

  }


  input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid transparent; 
    background: var(--black-11);
    }
  /* input[type=text]:active, select:active, textarea:active {
    border: 1px solid transparent; 
    background: var(--black-10);
    } */





/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: white;
color: var(--black-18);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: limeGreen;
color: white;
}

















/* =========     G L O B A L      ============ */
/* =========     G L O B A L      ============ */
/* =========     G L O B A L      ============ */
section#content {
  position: absolute;
  width: 100%;
}

/* global over-write for ALL sections top padding and height */
section section {
  min-height: 100vh; 
  position: relative;
}

/* containers that are mostly tex */
.container.info {  
max-width: 1000px;
min-height: 100vh;
}




















/* nav wrapper classes oe icons as a wrapped LI's */
/*  

section#nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center; 
  background-color: rgba(200, 200, 200, 0.7);
  background-color: var(--nav-background);
  z-index: 9999;
}

.nav_wrapper {
padding: 5px 0px;
}

ul.nav {
  display:flex;
  flex-direction: row;
  align-content: center; 
  justify-content: center; 
  list-style-type: none;
}

ul.nav li {
  margin: 0px 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

ul.nav li:hover {
  color: white;
  background-color: lightgray;
}

ul.nav li {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul.nav li.home {
  background-image: url("/images/outline_cottage_black_24dp.png");
}

ul.nav li.project_1 {
  background-image: url("/images/outline_science_black_24dp.png");
}
ul.nav li.project_2 {
  background-image: url("/images/outline_font_download_black_24dp.png");
}
ul.nav li.about_me {
  background-image: url("/images/outline_help_outline_black_24dp.png");
}
ul.nav li.contact {
  background-image: url("/images/outline_email_black_24dp.png");
}
ul.nav li.resume {
  background-image: url("/images/outline_description_black_24dp.png");
}


*/







 
 
 