:root { 

  /* general */
  --cursor_show: default;  /* default  none */

  /* colors */
--black-20: #000000;
--black-19: #1a1a1a;
--black-18: #1d1d1d;
--black-17: #202020;
--black-16: #232323;
--black-15: #252525;
--black-14: #2a2a2a;
--black-13: #2f2f2f;
--black-12: #343434;
--black-11: #464646;
--black-10: #4c4c4c;
--black-9: #515151;
--black-8: #575757;
--black-7: #5c5c5c;
--black-6: #727272;
--black-5: #9e9e9e;
--black-4: #cacaca;
--black-3: #e0e0e0;
--black-2: #ebebeb;
--black-1: #f5f5f5; /* whitesmoke */
--black-0: #ffffff; /* whitesmoke */

--lightening_blue: #658196; /* whitesmoke  036592 */
--lightening_blue_dark: #4f6e85; /* whitesmoke */
--logo_red: #790101; /* whitesmoke */
--logo_dark_red: #700000; /* whitesmoke */
--hilight_yellow: rgba(255, 238, 0, 0.829);

/*  four colors to make a basic theme change */
--testing: var(--lightening_blue_dark); /* #ff00f2 */
--testing_2: var(--lightening_blue_dark); /* #5e2081 */
--testing_3: var(--black-1); /* #e5f508 */
--soft_gradiant_end: var(--lightening_blue);  /*  rgba(224,255,255,1)  */

            /* probs not needed */
            --text-color-dark: var(--testing);  
            --text-color-light: var(--testing_3);  
            --dark-backround: var(--testing); 


/* navigation */
--nav-backround: var(--black-1);  /*  #8c9aa0  */
--nav-text: var(--black-10);  /*  #8c9aa0  */
--nav-text-hover: red;  /*  #8c9aa0  */

/* work */
--work_text_color: var(--testing);
--work-backround: var(--testing);  /*  #8c9aa0  */
--work_h1_color: var(--testing_2);
--deck_title_color: var(--testing_2);
--deck_title_backround: var(--testing);
--work_background_gradiant_end: var(--soft_gradiant_end);  /* original 'work' gradiant color rgba(224,255,255,1)  */

/* index */
--landing_text_color: var(--testing);
--landing_h1_color: var(--testing_2);

/* about_me */
--about_me_text_color: var(--testing_3);  /*  #8c9aa0  */
--about_me_backround: var(--testing);  /*  #8c9aa0  */

/* carousell pages */
--illustration-backround: var(--testing);  /*  #8c9aa0  */
--logos-backround: var(--testing);  /*  #8c9aa0  */
--product-backround: var(--testing);  /*  #8c9aa0  */

/* resume */
--resume-backround: var(--testing);  /*  #8c9aa0  */

/* contact form  */
/* --contact_text_color: var(--black-1);  /*  #8c9aa0  */
--contact_background_color: var(--testing);
     
  --form_h1_color: var(--black-1);
  --form_text_color: var(--testing_2);
  --form_label_color: var(--testing_3);
    
    --form_input_select_background_color: var(--testing_3);
    --form_input_select_background_hover_color: var(--black-0); 
    --form_input_select_background_focus_color: var(--testing_3); 
    --form_input_select_text_color: var(--testing_2);
    --form_input_select_text_hover_color: var(--testing);  
    --form_input_select_text_focus_color: var(--nav-text-hover);  
    
      --form_input_text_color: var(--testing);
      --form_button_background_color: var(--testing_2);
      --form_button_background_color_hover: var(--testing_3);
      --form_button_text_color: var(--testing);
      --form_button_text_color_hover: var(--testing_2);


/* super serious drop shadows */
    --shadow-color: 120deg 1% 46%;  /* #bebfbe tint for landing */
    --shadow-color: 210deg 30% 60%;  /* #eff7ff tint for about me */
    --shadow-color: 120deg 2% 60%;  /* #f4f5f4 tint for projects */
    --shadow-color: 60deg 28% 61%;  /* #fffff0 tint for contact */
    --shadow-color: 0deg 0% 0%; /* no underlying shadow tint */
   
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
      0.4px 0.8px 1.1px -1px hsl(var(--shadow-color) / 0.05),
      0.8px 1.6px 2.2px -1.9px hsl(var(--shadow-color) / 0.06);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.05),
      0.8px 1.5px 2.1px -0.6px hsl(var(--shadow-color) / 0.05),
      1.7px 3.4px 4.6px -1.3px hsl(var(--shadow-color) / 0.06),
      3.9px 7.9px 10.6px -1.9px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
      1.1px 2.2px 3px -0.3px hsl(var(--shadow-color) / 0.05),
      1.9px 3.8px 5.1px -0.6px hsl(var(--shadow-color) / 0.05),
      2.9px 5.8px 7.8px -0.8px hsl(var(--shadow-color) / 0.05),
      4.4px 8.9px 12px -1.1px hsl(var(--shadow-color) / 0.06),
      6.7px 13.3px 18px -1.4px hsl(var(--shadow-color) / 0.06),
      9.9px 19.7px 26.6px -1.7px hsl(var(--shadow-color) / 0.06),
      14.3px 28.5px 38.5px -1.9px hsl(var(--shadow-color) / 0.07);

 }

html, body, * {margin:0; padding:0;  }  
html, body {overflow-x: hidden; }  
/* gives padding and border from inside */
*, *::before, *::after { box-sizing: border-box; }
/* what is this magic?!?!?! */
/* your overlapping header/div height */
/* html { scroll-padding-top: 100px; } */

body { 
  color: var(--lightening_blue_dark);
  background-color: var(--black-0);
  display:flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Azeret Mono', monospace; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Cormorant Infant', serif; */
  font-family: 'Bitter', serif;
  font-weight: 200;
  width: 100vw; /*  calc(100vw - (100vw - 100%));  */
  cursor: var(--cursor_show);
}

/* for testing out click-to-scroll */
body {
/* number of 100vh panels you are using */
/* min-height: 1000vh;  */
  overflow: auto;
}


.subtle-shadow {
box-shadow: var(--shadow-elevation-low);
}
.medium-shadow {
box-shadow: var(--shadow-elevation-medium);
}
.in-your-face-shadow {
box-shadow: var(--shadow-elevation-high);
}





/* either body or .pin-spacer should match the background
  color of whatever section is on top, or above 50vh */
/* .pin-spacer { background-color: cyan} */






 /* =========     C U R S O R      ============ */
 /* =========     C U R S O R      ============ */
 /* =========     C U R S O R      ============ */
/* The cursor is wrapped in a containter as the js makes it visible as soon as it moves
inner .cursor is visible on hover via js */
 .cursor_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  width: 80px;
  height: 80px;
  pointer-events: none;
 }
 .cursor_braces{
  position: absolute;
  font-family: 'Bitter', serif;
  font-weight: 100;
  font-size: 50px;
  line-height: 30px; /* this centers it  */
  z-index: 99999;
  transform: rotate(90deg);

}
.cursor_braces::before{
  position: relative;
  content: "{";
  right:5px;
  color: red; 
}
.cursor_braces::after{
  position: relative;
  content: "}";
  left:5px;
  color: red; 
}

.cursor_main {
  position: relative;
  width: 48px;
  height: 48px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffee; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  /* border: 8px solid rgba(50, 50, 50, 1.0); switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 99999;
}


/* pretty cool effect, but a little too much for my taste. 
Perhaps contextually useful */
.c ursor_main::after {
  position: absolute; 
  content: "";
  width: 48px;
  height: 48px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffee; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  top: -8px;
  left: -8px;
  opacity: 0.5;
  animation: pulsate 1s infinite alternate;
}





@keyframes clickBurst {
  0% { transform: scale(1); }
  50% { transform: scale(3); }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: clickBurst .5s forwards;
  border: 1px solid red;
}


.cursor_caret{
  position: absolute;
  font-family: 'Bitter', serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px; /* this centers it  */
  color: lime;
  z-index: 99999;
}

img {
  cursor: var(--cursor_show);
}

.highlight {

  animation: pulsate 1s infinite alternate;
}

.highlight::after {
  position: absolute; 
  content: "";
  width: 60px;
  height: 60px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffef9d; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  top: 10px;
  left: 10px;
  opacity: 0.4;
  animation: pulsate 1s infinite alternate;
}

/* play with this... opacity should be different */
@keyframes pulsate {
  from {
      transform: scale(1.5);
      transform: opacity(0.2)
  }
  to {
      transform: scale(.8);
      transform: opacity(1)
  }
}

















.main_title { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-size: 60px;
  font-weight: 900;
}
h1 { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.title { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.subtitle {
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-style: italic;
  font-size: 22px;
  font-weight: 400;
}
.copy {

}
.centered {
  text-align: center;
}

p {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: 200;
  float:none;
  /* background: pink; */
  margin-bottom: 15px;
}


.width_40 { width: 40vw; }
.width_50 { width: 50vw; }
.width_60 { width: 60vw; }
.width_70 { width: 70vw; }
.width_80 { width: 80vw; }


.font_100 { font-weight: 100; }
.font_200 { font-weight: 200; }
.font_300 { font-weight: 300; }
.font_400 { font-weight: 400; }
.font_500 { font-weight: 500; }
.font_600 { font-weight: 600; }
.font_700 { font-weight: 700; }
.font_800 { font-weight: 800; }






.subtle-box {
  box-shadow: var(--shadow-elevation-low);
}
.in-your-face-box {
  box-shadow: var(--shadow-elevation-high);
}







/* =========  N A V I G A T I O N  ============ */
/* =========  N A V I G A T I O N  ============ */
/* =========  N A V I G A T I O N  ============ */
#nav_floater {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 950;  
  cursor: var(--cursor_show);
  
  /* border: 1px dotted green; */
}
#nav_wrapper {
  background-color: var(--nav-backround) ; /*  #8c9aa0  */
  /* background-color: orange ;  #8c9aa0 behind the li's */
  border-radius: 5px;
  z-index: 900;
  padding: 0px 10px;
} 
ul#nav {
  display:flex;
  list-style-type: none;
}
ul#nav li  {  /*  li not:first-child   not(ul) */
  font-size: 12px;
  letter-spacing: 3px;
  font-family: 'Bitter', serif;
  /* font-weight: 400; */
  /* d isplay:inline; */
  /* background-color: gainsboro; */
  /* border: none; */
  padding: 4px 10px;   /* actual visual size of LI */
}

ul#nav li a, ul#nav li a:visited {
  color: var(--nav-text);
  text-decoration: none;
}


ul#nav li:hover a:not(.sub_nav a) {
  color: var(--nav-text-hover);
  cursor: var(--cursor_show);
}

ul#nav li .sub_nav li:hover a{
  color: var(--nav-text-hover);
  cursor: var(--cursor_show);
}








/* ul#nav span#nav_left, ul#nav span#nav_center, ul#nav span#nav_right{

} */

#nav_center {
  text-align: center;
}

span#nav_left, span#nav_right {
  display:flex;
}
/* The width here is a hack, make it work without it  */
span#nav_left li.work{
  position: relative;
  overflow: visible;
}


ul#nav li  ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  align-content: center; 
  justify-content: center; 
  z-index: 99999;
  /* background-color: lime; */
  white-space: nowrap; /* no wrapping */
  left: -4px
  /* left: 50%; 
  transform: translateX(-50%);  */
}

ul#nav li  ul li::before {
  content: "-";
}

/* margin holds the gap between items, AND mouse trigger area
Increasing margins and shrinking distance so they overlap
and make a gap-free zone for cursor functions */
ul#nav li  ul li {
  margin: 0px 0px 10px 5px; /*  0px 0px 10px 5px  */
  border-radius: 3px;
  background-color: var(--nav-backround) ; /*  #8c9aa0  */
  list-style-type: none;
  position: relative;
  background: whitesmoke;

}

ul#nav li  ul li:first-child {
  margin-top:14px
}


/* for rotation */
ul#nav li  ul li:nth-child(1)  {
  transform-origin: 0px 0px;
  animation: rotate 0.2s ease-in 1 forwards ;
}

ul#nav li  ul li:nth-child(2)  {
  transform-origin: 0px -10px;
  animation: rotate2 0.2s ease-in 1 forwards ;
}
ul#nav li  ul li:nth-child(3)  {
  transform-origin: 0px -25px;
  animation: rotate3 0.2s ease-in 1 forwards ;
}
ul#nav li  ul li:nth-child(4)  {
  transform-origin: 0px -40px;
  animation: rotate4 0.2s ease-in 1 forwards ;
}
ul#nav li  ul li:nth-child(5)  {
  transform-origin: 0px -55px;
  animation: rotate5 0.2s ease-in 1 forwards ;
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
@keyframes rotate2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}
@keyframes rotate3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}
@keyframes rotate4 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(30deg); }
}
@keyframes rotate5 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(40deg); }
}








/* .hero_wrapper {
 border: 2px solid #000;
 border-radius: 10px;
 overflow: hidden;
 padding: 0px;
 margin:0px;
 background-color: #red;
} */
.hero img {
  padding: 0px;
  margin:0px;
  width: 60vw;
}




















/* ============    D O W N     ============== */
/* ============        +       ============== */
/* ============   A R R O W    ============== */

#scroll_arrow_wrapper {
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center; 
  align-content: center; 
  justify-content: center; 

  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  /* w idth: 100vh; */
  z-index: 10000; 
}
.scroll_arrow { 
  height: 25px;
  width: 65px;
}

.material-icons.up_arrow, .material-icons.down_arrow {

  font-size: 50px;
  opacity: 0.3;
}




/* ============   cross    ============== */
/* ============      +     ============== */
/* ============   marks    ============== */

#centerlines {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 10000; 
  pointer-events: none;
}
.horizontal_center {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;  
  height: 1px;
  width: 100vw;
  background-color: red;
  }
  .vertical_center {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000; 
    width: 1px;
    height: 100vw;
    background-color: red;
  }




/* ============   H E R O    ============== */
/* ============  I M A G E   ============== */
/* ============  ---------   ============== */

/* for the initial working variation */
#floating_logo {
  position: fixed;
  top: 16px;
  left: 50% ;
  transform: translateX(-50%);
  width:100px;
  z-index: 975;  
}
#floating_logo img#logo_hero {
  width: 100px;
  /* animation: spin 10s linear infinite; */
  /* animation-play-state: paused;  */
}






/* ============  L A N D I N G   ============== */
/* ============  L A N D I N G   ============== */
/* ============  L A N D I N G   ============== */


/* the main LANDING section */
#landing.scroll_panel {
  /* background: rgb(72, 214, 53); */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: (var(--black-1));
}


/* content wrapper INSIDE */
/* the main LANDING section */
#landing.scroll_panel .landing_wrapperX {  /*  .column_centered  */
  /* background: rgb(69, 88, 109); */
  /* border: 1px solid purple;  */
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* align-content: center; */
  justify-content: flex-end; 

}

div#intro.role {
  color: var(--landing_text_color);
  text-align: center;
  /* border: 1px solid cyan; */
  /* background-color: #fff; */
  /* opacity: 0.5; */
}


/* =========     B I G  A S S      ============ */
/* =========  B A C K G R O U N D  ============ */
/* =========     ( image )      ============ */
#landing::before {    
  content: "";
  background-image: url("../images/IMG_8833.JPG");
  background-position: center;
  background-size: inherit;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.1;
}





/* =========     W O R K, W O R D S, E T C.       ============ */
/* =========     P R O J E C T S      ============ */
/* =========     P R O J E C T S      ============ */

 #work {
   position: relative;
  background: #fff0f5;  /*  ghostwhite   LavenderBlush  */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0ffff+0,ffffff+20,ffffff+77,e0ffff+100 */
background: rgb(224,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 77%, rgba(224,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(224,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  var(--work_background_gradiant_end) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,var(--work_background_gradiant_end) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ffff', endColorstr='#e0ffff',GradientType=0 ); /* IE6-9 */
/* opacity: 0.2; */
/* background: var(--work-backround); */

 }



#work {
  color: var(--work_text_color)
}
#work h1 {
  color: var(--work_h1_color)
}


 ul.deck {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 100px;
}

ul.deck p, ul.deck li{
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Bitter', serif;
  font-weight: 200; 
  line-height: 18px;
}

ul.deck li.card {
  margin-bottom: 80px;
  min-width: 200px;
  max-width: 28%;
}

ul.deck li.card a, ul.deck li.card a:visited{
  display: block;
  text-decoration: none;
  border-radius: 11px;
  overflow: hidden;
}
 
ul.deck .title{
          color: var(--deck_title_color);
  text-decoration: none;  
  width: 100%;
  border-radius: 5px;
          /* background-color: var(--deck_title_backround) ; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  } 

ul.deck li.card a:hover img{  /*  .title  */
  -webkit-box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.6); 
  box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.6);
}
ul.deck li.card a:hover .title{ 
  /* color: var(--logo_dark_red); */
/* background-color: var(--lightening_blue) */
}


ul.deck li.card .card_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.deck img{
  /* border: 5px solid transparent; */
  border-radius: 10px;
  overflow: hidden;
}

/* the SUB uls */
ul.deck ul{
  padding-left: 30px;
  } 






































/* section#illustration, */

 /* section#logos, section#products, section#work, section#about_me, section#contact, section#resume, section#illustration {
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center; 
}  */
section#work, section#about_me, section#contact, section#resume {
  padding-top: 135px;
  padding-bottom: 135px;
} 
section .carousel_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: calc(100vw - 15px);
  border: 15px solid black;
  }

section#illustration, section#logos, section#products {
  position: fixed;
  top: 0;
  left: 0;
  display:none;
  }

  /* z-index: 1000; */
  /* height: 100vh; */

  /* section:not( #landing) */
 .center_every_fucking_thing{
display: flex;
flex-direction: column;
align-items: center; 
align-content: center; 
justify-content: center; 
}










section#illustration {
background: hsl(0, 0%, 96%);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+20,ffffff+77,f5f5f5+100 */
background: rgb(245,245,245); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 77%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
/* background: pink; */
}
section#logos {
  background: hsl(0, 0%, 96%);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+20,ffffff+77,f5f5f5+100 */
  background: rgb(245,245,245); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 77%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
  background-color:  var(--logos_background)
}

#products{ 
  background: hsl(0, 0%, 96%);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+20,ffffff+77,f5f5f5+100 */
  background: rgb(245,245,245); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 77%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
background-color: var(--products_background); 
}







/* =========     R E S U M E      ============ */
/* =========     R E S U M E      ============ */
/* =========     R E S U M E      ============ */
 #resume {
  background: var(--resume_backround); 
  color: var(--resume_text_color);
 }




/* =========      A B O U T   M E      ============ */
/* =========      A B O U T   M E      ============ */
/* =========      A B O U T   M E      ============ */
#about_me {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1c1c1c+0,2a2a2a+20,2a2a2a+77,1c1c1c+100 */
/* Old browsers */background: rgb(28,28,28); 
background: -moz-linear-gradient(top,  rgba(28,28,28,1) 0%, rgba(42,42,42,1) 20%, rgba(42,42,42,1) 77%, rgba(28,28,28,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(42,42,42,1) 20%,rgba(42,42,42,1) 77%,rgba(28,28,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(28,28,28,1) 0%,rgba(42,42,42,1) 20%,rgba(42,42,42,1) 77%,rgba(28,28,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */

background: var(--about_me_backround); 
color: var(--about_me_text_color);
}
  

ul.skills {
  list-style-type: none;
  /* border: 1px dotted pink; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 80px;
  margin-bottom: 60px;
  margin-top: 60px;
}
ul.skills li{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-size: 80px;
}
ul.skills li div{
  letter-spacing: 1px;
  font-size: 20px;
  margin-top:20px;
}


ul.row_of_icons_small {
  width: 40vw;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 20px
}
ul.row_of_icons_small li {
  margin: 0px 20px;
}
 
ul.comfort_list {
  list-style-type: none;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  line-height:40px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}
ul.comfort_list li a, a:visited{
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}







/* *************** SVG  I C O N S ***************** */
/* *************** SVG  I C O N S ***************** */
/* *************** SVG  I C O N S ***************** */
#Shopify_SVG {
  width: 80px;
  height: 80px;    
}
#jQuery_SVG {
  width: 70px;
  height: 70px;   
}
.cls-1 {
  fill: var(--about_me_text_color);
}
#jQuery_wrapper {
  
}
#jQuery_paths {

}



#close_bones_SVG {
  width: 70px;
  height: 70px;   
  fill: var(--black-3);
}
#close_bones_SVG:hover { 
  fill: #ab1f23;
}
#left_bone, #right_bone {
}

#close_bones_hover_SVG {
            
}
.close_bones_path {
  fill: var(--lightening_blue);
}

.close_carousel {
  /* font-family: 'Azeret Mono', monospace; */
  /* font-size: 100px; */
  /* color: var(--black-3); */
  position: absolute;
  top:50px;
  left: 60px;
  width: 100px;
  height: 100px;
}







.svg_arrow, .svg_arrow.left{
  height: 200px;
  width: 60px;
}
.svg_arrow.left{
  transform: rotate(180deg);
}






#Arrow, #Arrow.left{
  height: 200px;
  width: 60px;
}
#Arrow.left{
  transform: rotate(180deg);
}

/* .cls-1 {
  fill: url(#linear-gradient_2S);
  background-color: pink;
} */







































/* =========      C O N T A C T       ============ */
/* =========      C O N T A C T       ============ */
/* =========      C O N T A C T       ============ */
section#contact * {
  cursor: var(--cursor_show);
}
section#contact {
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  display:flex;
  justify-content: center;
}
section#contact h1{
  color: var(--form_h1_color);
}
/* Really, IS HTIS NECESSARY?? MOVE TO WHERE EVER IT'S NEEDED */
.container {
  margin-bottom: 150px;
}
.container.form {
  max-width: 500px;
}


/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Courier Prime', monospace;
  font-weight: 400;
  width: 100%; /* Full width */
  border: 1px solid transparent; /* Gray border */
  border-radius: 0px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 30px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  /* cursor: none; */
}

textarea {
  height: 150px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display:block;
  width: 50%;
}

.container.form label{
  font-size: 12px;
}

form.contact {
  padding-top:10px;
}

/* =========      form COLORS ONLY       ============ */
/* =========      form COLORS ONLY       ============ */
/* =========      form COLORS ONLY       ============ */
 
#contact {
  background-color: var(--contact_background_color);
}
.container.form {
  color: var(--form_text_color);
}
.container.form h1{
  color: var(--form_h1_color);
}
.container.form label{
  color: var(--form_label_color);
  cursor: var(--cursor_show);
}
.container.form label::before{
  content: "{"
}
.container.form label::after{
  content: "}"
}

/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
input[type=text], select, textarea {
border: 0px solid transparent; 
background-color: var(--form_input_select_background_color);
color: var( --form_input_select_text_color);
}

input[type=text]:hover, select:hover, textarea:hover {
  border: 0px solid transparent; /* Gray border */
  background-color: var(--form_input_select_background_hover_color); 
  color: var( --form_input_select_text_hover_color);
  }


        input[type=text]:focus, select:focus, textarea:focus {
          border: 1px solid transparent; 
          color: var(--form_input_select_text_focus_color);
          background: var(--form_input_select_background_focus_color);
          }
        /* input[type=text]:active, select:active, textarea:active {
          border: 1px solid transparent; 
          background: var(--black-10);
          } */


/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: var(--form_button_background_color);
color: var( --form_button_text_color);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: var(--form_button_background_color_hover);
color: var(--form_button_text_color_hover);
}


















/* =========     C A R O  S E L      ============ */
/* =========     C A R O  S E L      ============ */
/* =========     C A R O  S E L      ============ */

/* Inner carousel??  Why is the wrapper needed? */
.carousel_container { 
  /* border: 1px solid lime; */
}

.carousel {
  display:flex;
  align-content: center;
  align-items: center;
  /* border: 1px solid pink; */
}

.carousel__slider {
  position: relative;
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 70vw; /* 70vw  should be a calk to include width of the left/right arrows */
  height: calc(70vw * 0.5);  /*  making it a 2 to one proportion  */
  white-space: nowrap;
}

.carousel__item {
  display:flex;
  /* align-content: center; This distorts the contents */
  align-items: center;
  position: absolute; 
  opacity: 0.0;
}

[data-name="illustration"] .carousel__slider .carousel__item img, .carousel__slider .carousel__item img {
  max-width: 60vw;
  max-height: calc(70vw * 0.5);
  width: auto;
  height: auto;
}

.showing {
  opacity: 1;
  transition: 1s;
}

.js-carousel-button {
  text-align: center;
  display:block;
  z-index: 900;
  opacity: 0.1;
}
.js-carousel-button:hover {
  opacity: 0.4;
}
[data-direction="next"] {
  text-align: left;
  float:left
}
[data-direction="previous"] {
  text-align: right;
  float:right;
}

.directional_arrow {
  height: 55px;
  padding-left:100px;
}
.directional_arrow.previous {
  transform: rotate(180deg);
}






/* ``````````` S M A L L S ``````````````` */
/* ``````````` S M A L L S ``````````````` */
/* ``````````` S M A L L S ``````````````` */

.lighter{
  opacity: 0.5;
  font-size: 80%;
  }
.asterisk {
  font-family: 'Bitter', serif;
  opacity: 0.3;
  font-size: 60%;
  vertical-align: top;
}
.copyright {
  font-size: 50%;
  vertical-align: top;
  opacity: 0.5;
}
.material-icons.check {
  vertical-align: sub;
 font-size: 16px;
}

/* for other approaches */
/* https://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over */
.gray_scale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.gray_scale:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}




/* =========     G L O B A L      ============ */
/* =========     G L O B A L      ============ */
/* =========     G L O B A L      ============ */

/* wraps ALL content inside the body */
div#page_wrapper { 
  width: 100%;
}

/* containers that are mostly text */
.column_centered {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw; 
  margin: 0 auto;
}

.scroll_panel {
  width: 100%;
  min-height: 100vh;
}







span.caret {
  color:var(--testing); 
  margin-left: 0;
  opacity: 0;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}










/* =========  STRIPES ============ */
/* =========     &    ============ */
/* =========  shadows ============ */
/* section#about_me .container_wrapper{
  position:relative;
  width: 100%;
  } */

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    }
    
    .top_shadow_clean {
    height:20%;
    max-height:200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a821a6+0,aa1ba8+15,000000+100&1+0,0.53+3,0+15,0+100 */
    background: linear-gradient(to bottom,  rgb(28, 31, 32) 0%,rgba(28, 32, 32, 0.53) 3%,rgba(170,27,168,0) 10%,rgba(170,27,168,0) 100%); 
    background-size: 400% 400%;
    animation: AnimationName 1s ease 1 forwards;
    }
    
    @keyframes AnimationName {
      0%{background-position:48% 100%}
      /* 50%{background-position:48% 90%} */
      100%{background-position:48% 0%}
    }
    
    .right_stripes {
      background: repeating-linear-gradient(
      70deg,
      var(--black-4),
      var(--black-4) 1px,
      #ffffff00 2px,
      #ffffff00 40px,
      var(--black-4) 42px
    );
    opacity: 0.1;
    }
    
    
    .left_stripes {
      background: repeating-linear-gradient(
      110deg,
      var(--black-4),
      var(--black-4) 1px,
      #ffffff00 2px,
      #ffffff00 40px,
      var(--black-4) 42px
    );
    
    }




 
 
 