:root { 
     --black-20: #000000;
     --black-19: #1a1a1a;
     --black-18: #1d1d1d;
     --black-17: #202020;
     --black-16: #232323;
     --black-15: #252525;
     --black-14: #2a2a2a;
     --black-13: #2f2f2f;
     --black-12: #343434;
     --black-11: #464646;
     --black-10: #4c4c4c;
     --black-9: #515151;
     --black-8: #575757;
     --black-7: #5c5c5c;
     --black-6: #727272;
     --black-5: #9e9e9e;
     --black-4: #cacaca;
     --black-3: #e0e0e0;
     --black-2: #ebebeb;
     --black-1: #f5f5f5; /* whitesmoke */
     --black-0: #ffffff; /* whitesmoke */

    --nav-backround: var(--black-1);  /*  #8c9aa0  */
    --nav-text: var(--black-10);  /*  #8c9aa0  */
    --nav-text-hover: red;  /*  #8c9aa0  */

    --cursor_show: none;  /* default  none */

 }

html, body, * {margin:0; padding:0;  }  
html, body {overflow-x: hidden; }  
/* gives padding and border from inside */
*, *::before, *::after { box-sizing: border-box; }
/* what is this magic?!?!?! */
/* your overlapping header/div height */
/* html { scroll-padding-top: 100px; } */

body { 
  color: #343434;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Azeret Mono', monospace; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Cormorant Infant', serif; */
  font-family: 'Bitter', serif;
  font-weight: 200;
  width: 100vw; /*  calc(100vw - (100vw - 100%));  */
  cursor: var(--cursor_show);
}

 /* either body or .pin-spacer should match the background
  color of whatever section is on top, or above 50vh */
/* .pin-spacer { background-color: cyan} */






 /* =========     C U R S O R      ============ */
 /* =========     C U R S O R      ============ */
 /* =========     C U R S O R      ============ */
/* The cursor is wrapped in a containter as the js makes it visible as soon as it moves
inner .cursor is visible on hover via js */
 .cursor_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  width: 80px;
  height: 80px;
  pointer-events: none;
 }
 .cursor_braces{
  position: absolute;
  font-family: 'Bitter', serif;
  font-weight: 100;
  font-size: 50px;
  line-height: 30px; /* this centers it  */
  z-index: 99999;
  transform: rotate(90deg);

}
.cursor_braces::before{
  position: relative;
  content: "{";
  right:5px;
  color: red; 
}
.cursor_braces::after{
  position: relative;
  content: "}";
  left:5px;
  color: red; 
}

.cursor_main {
  position: relative;
  width: 48px;
  height: 48px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffee; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  /* border: 8px solid rgba(50, 50, 50, 1.0); switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 99999;
}


/* pretty cool effect, but a little too much for my taste. 
Perhaps contextually useful */
. cursor_main::after {
  position: absolute; 
  content: "";
  width: 48px;
  height: 48px;
  border: 8px solid; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-color: #44ffee; /* switch to rgba(255, 255, 255, 1.0); over dark backgrounds */
  border-radius: 50%;
  top: -8px;
  left: -8px;
  opacity: 0.5;
  animation: cursorAnim2 1s infinite alternate;
}


@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.8);
  }
}




.cursor_caret{
  position: absolute;
  font-family: 'Bitter', serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px; /* this centers it  */
  color: lime;
  z-index: 99999;
}

img {
  cursor: var(--cursor_show);
}








.main_title { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-size: 60px;
  font-weight: 900;
}
.title, h1 { 
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.subtitle {
  font-family: 'Space Grotesk', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
}
.copy {

}
.centered {
  text-align: center;
}

p {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: 200;
  float:none;
  /* background: pink; */
  margin-bottom: 15px;
}


.width_40 { width: 40vw; }
.width_50 { width: 50vw; }
.width_60 { width: 60vw; }
.width_70 { width: 70vw; }
.width_80 { width: 80vw; }


.font_100 { font-weight: 100; }
.font_200 { font-weight: 200; }
.font_300 { font-weight: 300; }
.font_400 { font-weight: 400; }
.font_500 { font-weight: 500; }
.font_600 { font-weight: 600; }
.font_700 { font-weight: 700; }
.font_800 { font-weight: 800; }


.copyright {
  font-size: 50%;
  vertical-align: top;
  opacity: 0.5;
}



.subtle-box {
  box-shadow: var(--shadow-elevation-low);
}
.in-your-face-box {
  box-shadow: var(--shadow-elevation-high);
}







/* =========  N A V I G A T I O N  ============ */
/* =========  N A V I G A T I O N  ============ */
/* =========  N A V I G A T I O N  ============ */
#nav_floater {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;  
  cursor: var(--cursor_show);
  
  /* border: 1px dotted green; */
}
#nav_wrapper {
  background-color: var(--nav-backround) ; /*  #8c9aa0  */
  /* background-color: orange ;  #8c9aa0 behind the li's */
  border-radius: 5px;
  z-index: 999;
  padding: 0px 10px;
} 
ul#nav {
  display:flex;
  list-style-type: none;
}
ul#nav li  {  /*  li not:first-child   not(ul) */
  font-size: 12px;
  letter-spacing: 3px;
  font-family: 'Bitter', serif;
  /* font-weight: 400; */
  /* d isplay:inline; */
  /* background-color: gainsboro; */
  /* border: none; */
  padding: 4px 10px;   /* actual visual size of LI */
}

ul#nav li a, ul#nav li a:visited {
  color: var(--nav-text);
  text-decoration: none;
}


ul#nav li:hover a:not(.sub_nav a) {
  color: var(--nav-text-hover);
  cursor: var(--cursor_show);
}

ul#nav li .sub_nav li:hover a{
  color: var(--nav-text-hover);
  cursor: var(--cursor_show);
}








/* ul#nav span#nav_left, ul#nav span#nav_center, ul#nav span#nav_right{

} */

#nav_center {
  text-align: center;
}

span#nav_left, span#nav_right {
  display:flex;
}
/* The width here is a hack, make it work without it  */
span#nav_left li.work{
  position: relative;
  /* width: 50px;  */
  overflow: visible;
}

li.tubes, li.words, li.logos, li.products {

}


ul#nav li  ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  align-content: center; 
  justify-content: center; 
  z-index: 99999;
  /* background-color: lime; */
  white-space: nowrap; /* no wrapping */
  left: -4px
  /* left: 50%; 
  transform: translateX(-50%);  */
}

ul#nav li  ul li::before {
  content: "-";
}

/* margin holds the gap between items, AND mouse trigger area
Increasing margins and shrinking distance so they overlap
and make a gap-free zone for cursor functions */
ul#nav li  ul li {
  margin: 0px 0px 10px 5px; /*  0px 0px 10px 5px  */
  border-radius: 3px;
  background-color: var(--nav-backround) ; /*  #8c9aa0  */
  list-style-type: none;
  position: relative;
  background: whitesmoke;

}

ul#nav li  ul li:first-child {
  margin-top:14px
}


/* for rotation */
ul#nav li  ul li:nth-child(1)  {
  transform-origin: 0px 0px;
  animation: rotate 0.2s ease-in 1 forwards ;
}

ul#nav li  ul li:nth-child(2)  {
  transform-origin: 0px -10px;
  animation: rotate2 0.2s ease-in 1 forwards ;
}
ul#nav li  ul li:nth-child(3)  {
  transform-origin: 0px -25px;
  animation: rotate3 0.2s ease-in 1 forwards ;
}
ul#nav li  ul li:nth-child(4)  {
  transform-origin: 0px -40px;
  animation: rotate4 0.2s ease-in 1 forwards ;
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
@keyframes rotate2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}
@keyframes rotate3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}
@keyframes rotate4 {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(30deg); }
}








/* .hero_wrapper {
 border: 2px solid #000;
 border-radius: 10px;
 overflow: hidden;
 padding: 0px;
 margin:0px;
 background-color: #red;
} */
.hero img {
  padding: 0px;
  margin:0px;
  width: 60vw;
}
















span.caret {
  color:white; 
  margin-left: 0;
  opacity: 0;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




/* ============    D O W N     ============== */
/* ============        +       ============== */
/* ============   A R R O W    ============== */

#scroll_down_arrow_wrapper {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center; 
  justify-content: center; 

  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vh;
  z-index: 10000; 

}
.scroll_down_arrow {
  background-color: red;
  }






/* ============   cross    ============== */
/* ============      +     ============== */
/* ============   marks    ============== */

#centerlines {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 10000; 
  pointer-events: none;
}
.horizontal_center {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;  
  height: 1px;
  width: 100vw;
  background-color: red;
  }
  .vertical_center {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000; 
    width: 1px;
    height: 100vw;
    background-color: red;
  }




/* ============   H E R O    ============== */
/* ============  I M A G E   ============== */
/* ============  ---------   ============== */

/* for the initial working variation */
#floating_logo {
  position: fixed;
  top: 16px;
  left: 50% ;
  transform: translateX(-50%);
  width:100px;
  z-index: 9999;  
}
#floating_logo img#logo_hero {
  width: 100px;
  animation: spin 10s linear infinite;
  animation-play-state: paused; 
}






/* ============  L A N D I N G   ============== */
/* ============  L A N D I N G   ============== */
/* ============  L A N D I N G   ============== */
#landing {
  background: whitesmoke;
  /* background-image: url("/images/white_grunge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.landing_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  align-content: center; 
  justify-content: center; 
  height:100vh;
  /* background-image: url("/images/grunge_border.png") ; */
  /* background-size: 100% 100%; */
  /* background-position: top var(--nav-height) right 0px; */
}

div#intro.role {
  align-self: flex-end;
  margin-bottom: 70px;
  text-align: center;
  opacity: 1;
}












/* =========     P R O J E C T S      ============ */
/* =========     P R O J E C T S      ============ */
/* =========     P R O J E C T S      ============ */
#work, #words, #logos, #products {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center; 
 align-content: center; 
 justify-content: center; 
 min-height:100vh;
 padding-left: min(75px);
 padding-right: min(75px);

}
  /* justify-content: center; */
 #work {
  background: LavenderBlush;  /*  ghostwhite   LavenderBlush  */
 }


 #illustration {
 background-color: white;
 }

#words {
background-color: lemonchiffon;
}
#logos {
background: whitesmoke;
}

#products{ 
background-color: white;  /* honeydew; */
}
















/* =========     R E S U M E      ============ */
/* =========     R E S U M E      ============ */
/* =========     R E S U M E      ============ */
 #resume {
  background: GhostWhite;
  /* background-image: url("/images/words-satisfied.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
 }




/* =========          M E              ============ */
/* =========          M E              ============ */
/* =========          M E              ============ */
#about_me {
  background: var(--black-14); 
  color: var(--black-4);
  /* background-image: url("/images/gillouche.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  }
  
  section#about_me .container.info ul{  
  color: var(--black-4);
  text-decoration: none;
  }
  section#about_me .container.info {  
  max-width: 1000px;
  position: relative;
  }
  

/* =========  STRIPES ============ */
/* =========     &    ============ */
/* =========  shadows ============ */
section#about_me .container_wrapper{
  position:relative;
  width: 100%;
/* overlay image here... */
  }
  .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  }
  
  .top_shadow_clean {
  height:20%;
  max-height:200px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a821a6+0,aa1ba8+15,000000+100&1+0,0.53+3,0+15,0+100 */
  background: linear-gradient(to bottom,  rgb(28, 31, 32) 0%,rgba(28, 32, 32, 0.53) 3%,rgba(170,27,168,0) 10%,rgba(170,27,168,0) 100%); 
  background-size: 400% 400%;
  animation: AnimationName 1s ease 1 forwards;
  }
  
  @keyframes AnimationName {
    0%{background-position:48% 100%}
    /* 50%{background-position:48% 90%} */
    100%{background-position:48% 0%}
  }
  
  .right_stripes {
    background: repeating-linear-gradient(
    70deg,
    var(--black-4),
    var(--black-4) 1px,
    #ffffff00 2px,
    #ffffff00 40px,
    var(--black-4) 42px
  );
  opacity: 0.1;
  }
  
  
  .left_stripes {
    background: repeating-linear-gradient(
    110deg,
    var(--black-4),
    var(--black-4) 1px,
    #ffffff00 2px,
    #ffffff00 40px,
    var(--black-4) 42px
  );
  
  }

























/* =========      C O N T A C T       ============ */
/* =========      C O N T A C T       ============ */
/* =========      C O N T A C T       ============ */
section#contact * {
  cursor: var(--cursor_show);
}
section#contact {
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  display:flex;
  justify-content: center;
/* cursor: none; */
}

.container {
padding: 120px 50px;
margin: 0px auto;
}

.container.form {
/* padding: 50px; */
max-width: 500px;
}



/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
font-family: 'Courier Prime', monospace;
font-weight: 400;
width: 100%; /* Full width */
border: 1px solid transparent; /* Gray border */
border-radius: 0px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 30px; /* Bottom margin */
resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
/* cursor: none; */
}

textarea {
height: 150px;
  }

/* Style the submit button with a specific background color etc */
input[type=submit] {
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
display:block;
width: 50%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #4e0f14;
}

.container.form label{
  font-size: 12px;
}

form.contact {
padding-top:10px;
}

.container.form label{
  color: gray;
  /* cursor: none; */
}


/* =========      form COLORS ONLY       ============ */
 
#contact {
background: var(--black-18);
}
.container.form {
  color: gray;
}
.container.form h1{
  color: whiteSmoke;
}
.container.form label{
  color: gray;
  cursor: var(--cursor_show);
}
.container.form label::before{
  content: "{"
}
.container.form label::after{
  content: "}"
}

/* =========      generic starter form       ============ */
/* =========      generic starter form       ============ */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
/* border: 1px solid lightblue;  */
border: 0px solid transparent; 
background: var(--black-18);
color: lime;
}

input[type=text]:hover, select:hover, textarea:hover {
  border: 0px solid transparent; /* Gray border */
  background: var(--black-11);

  }


  input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid transparent; 
    background: var(--black-11);
    }
  /* input[type=text]:active, select:active, textarea:active {
    border: 1px solid transparent; 
    background: var(--black-10);
    } */





/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: white;
color: var(--black-18);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: limeGreen;
color: white;
}

















/* =========     G L O B A L      ============ */
/* =========     G L O B A L      ============ */
/* =========     G L O B A L      ============ */

/* wraps ALL content inside the body */
div#page_wrapper { 
  width: 100%;
}

/* global over-write for ALL sections top padding and height */
section section {
  m in-height: 100vh;  /* this messes up the current itteration of scroll snap = FIX */
  /* height: 100vh;  */
  p osition: relative;
}

/* containers that are mostly text */
.container.mostly_words {  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  /* min-height: 100vh; */
}

.scroll_panel {
  width: 100%;
  /* min-height: calc(100vh - 62px); */
  min-height: 100vh;
}


















/* nav wrapper classes oe icons as a wrapped LI's */
/*  

section#nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center; 
  background-color: rgba(200, 200, 200, 0.7);
  background-color: var(--nav-background);
  z-index: 9999;
}

.nav_wrapper {
padding: 5px 0px;
}

ul.nav {
  display:flex;
  flex-direction: row;
  align-content: center; 
  justify-content: center; 
  list-style-type: none;
}

ul.nav li {
  margin: 0px 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

ul.nav li:hover {
  color: white;
  background-color: lightgray;
}

ul.nav li {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul.nav li.home {
  background-image: url("/images/outline_cottage_black_24dp.png");
}

ul.nav li.project_1 {
  background-image: url("/images/outline_science_black_24dp.png");
}
ul.nav li.project_2 {
  background-image: url("/images/outline_font_download_black_24dp.png");
}
ul.nav li.about_me {
  background-image: url("/images/outline_help_outline_black_24dp.png");
}
ul.nav li.contact {
  background-image: url("/images/outline_email_black_24dp.png");
}
ul.nav li.resume {
  background-image: url("/images/outline_description_black_24dp.png");
}


*/







 
 
 